{% extends "info.html" %}
{% load i18n %}

{% block title%}
{% trans 'E-mail Addresses' %} - {{ SITE_NAME }}
{% endblock %}

{% block info_meta %} 
{% trans 'Accounts' %}
{% endblock%}


{% block info_title %}
{% trans 'Your Email Addresses' %} 
{% endblock %}

{% block info_text %}
{% if user.emailaddress_set.all %}
<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"><span class="badge badge-secondary">E-mail</span></th>
      <th scope="col"><span class="badge badge-success">Verification</span></th>
      <th scope="col"><span class="badge badge-info">Rank</span></th>
    </tr>
  </thead>
  <tbody>
    {% for emailaddress in user.emailaddress_set.all %}
    <tr>
      <td><input id="email_radio_{{forloop.counter}}" type="checkbox" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %} checked="checked" {% endif %} value="{{emailaddress.email}}"/></td>
      <th scope="row">{{ emailaddress.email }}</th>
      <td>{% if emailaddress.verified %}Verified{% else %}Unverified{% endif %}</td>
      <td>{% if emailaddress.primary %}Primary{% else %}Secondary{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'accounts/snippets/form_errors.html'%}
<button class="btn btn-success" type="submit" name="action_send" >{% trans 'Verify' %}</button>
<button class="btn btn-primary" type="submit" name="action_primary" >{% trans 'Change Rank' %}</button>
<button class="btn btn-danger" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
</fieldset>
</form>


<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>

{% else %}
<p>{% trans 'There are no e-mail addresses associated with your account.' %}</p>
{% endif %}
{% endblock %}

{% block info_actions %}
<div class="form-inline">
<form method="post" action="{% url 'account_email' %}"> 
      {% csrf_token %}
      <input class="form-control" type="text" placeholder="E-mail Address" required>
      <button class="btn btn-default" type="submit">{% trans "Add" %}</button>
</form>
</div>
{% endblock %}


