{% extends 'info.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}
{% trans "Sign In"%} - {{ SITE_NAME }}
{% endblock %}


{% block info_meta %}
{% trans "Welcome"%}
{% endblock %}

{% block info_title %}
{% trans "Sign In to "%} {{SITE_NAME}}
{% endblock %}


{% block info_text %}

  <form id="login_form" class="form" method="post" action="{% url 'account_login'%}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <input type="text" id="login" name="login" class="form-control" placeholder="{% trans 'E-mail or Username' %}" required autofocus>
    <input type="password" id="password" name="password" class="form-control" placeholder="{% trans 'Password' %}" required>
    <div class="note">
      <label>
        <input type="checkbox" value="remember" id="remember" name="remember"> {% trans 'Remember me' %}
      </label>
    </div>
    {% include 'account/snippets/form_errors.html'%}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign In' %}</button>
    <div class="text-center text-muted">
      <a href="{% url 'account_reset_password'%}">{% trans 'Forgot password?'%}</a> &middot; <a href="{% url 'account_signup'%}">{% trans 'Not registered?'%}</a>
    </div>
  </form>

<style>

  .note {
    margin: 2%;
    font-weight: 400;
  }

  .form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
  }

  .form .form-control:focus {
    z-index: 2;
  }

  .form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>

{% endblock %}

{% block info_actions %}
{% endblock %}