{% extends 'info.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}
{% trans "Sign Out of"%} {{ SITE_NAME }}
{% endblock %}

{% block info_meta %}
{% trans "Accounts" %}
{% endblock info_meta %}

{% block info_title %}
{% trans "Sign Out" %}
{% endblock %}

{% block info_text %}
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  <form  method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  {% include 'account/snippets/form_errors.html'%}
  <button type="submit" class="btn btn-primary">{% trans 'Sign Out' %}</button>
  <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}">{% trans 'Go back' %}</a>
</form>
{% endblock %}

{% block info_actions %}
{% endblock %}
