{% extends 'info.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}
{% trans "Change Password"%} - {{SITE_NAME}}
{% endblock %}

{% block info_meta %}
{% trans "Accounts"%}
{% endblock %}

{% block info_title %}
{% trans "Change Your Password"%}
{% endblock %}
{% block info_text %}
  <form id="login_form" class="form" method="post" action="{% url 'account_change_password'%}">
    {% csrf_token %}
    <input type="password" id="oldpassword" name="oldpassword" class="form-control top-pass" placeholder="{% trans 'Old Password' %}" required autofocus>
    <input type="password" id="password1" name="password1" class="form-control middle-pass" placeholder="{% trans 'New Password' %}" required>
    <input type="password" id="password2" name="password2" class="form-control bottom-pass" placeholder="{% trans 'Confirm New Password' %}" required>
    {% include 'account/snippets/form_errors.html'%}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Change'%}</button>
  </form>

<style>

  .form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
  }

  .form .form-control:focus {
    z-index: 2;
  }

  .top-pass {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .middle-pass {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;  
  }

  .bottom-pass {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 5%;
  }
</style>

{% endblock %}
