{% extends "info.html" %}
{% load i18n %}
{% block title %}
{% trans "Check Your E-mail" %} - {{SITE_NAME}}
{% endblock %}
{% block info_meta %}
{% trans 'Accounts'%}
{% endblock %}
{% block info_title %}
{% trans "Check Your E-mail Address" %}
{% endblock %}
{% block info_text %}
{% include "account/snippets/already_logged.html" %} 
{% blocktrans %}We have sent you an password reset confirmation e-mail.{% endblocktrans %}
<br>
{% blocktrans %}Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}







