{% extends "info.html" %}
{% load i18n %}
{% load account %}

{% block title %}
{% trans 'Change Password'%} - {{SITE_NAME}}
{% endblock %}


{% block info_meta %}
{% trans 'Accounts'%}
{% endblock %}

{% block info_title %}
{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Your Password" %}{% endif %}
{% endblock %}

{% block info_text %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% include 'account/snippets/form_errors.html'%}
                <button class="btn btn-success" type="submit" name="action"/>{% trans 'Change Password' %}</button>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block info_actions %}
    {% if token_fail or form %}
    {% else %}    
        {{block.super}}
    {% endif %}
{% endblock %}