{% extends 'info.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}
{% trans "Set Password"%} - {{ SITE_NAME }}
{% endblock %}


{% block info_meta %}
{% trans "Account"%}
{% endblock %}

{% block info_title %}
{% trans "Set Your Password"%}
{% endblock %}


{% block info_text %}
    <p>{% trans "Please insert a new password below." %}</p>
    {% include "account/snippets/form_errors.html" %}
  <form class="form" method="post" action="{% url 'account_set_password'%}">
    {% csrf_token %}
    <input type="password" id="password1" name="login" class="form-control" placeholder="{% trans 'New Password' %}" required autofocus>
    <input type="password" id="password2" name="password" class="form-control" placeholder="{% trans 'Confirm New Password' %}" required>
    {% include 'account/snippets/form_errors.html'%}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Set Password'%}</button>
  </form>

<style>


  .form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
  }

  .form .form-control:focus {
    z-index: 2;
  }

  .form input[id="password1"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form input[id="password2"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom:5%;
  }
</style>

{% endblock %}

