{% extends "info.html" %}
{% load i18n %}
{% load account %}

{% block title %}
{% trans 'Reset Password'%} - {{SITE_NAME}}
{% endblock %}

{% block info_meta %}
{% trans 'Accounts'%}
{% endblock %}

{% block info_title %}
{% trans "Reset Your Password" %}
{% endblock %}

{% block info_text %}
    <p>{% trans "Forgotten your password? Enter your e-mail address below." %}</p>
    <form class="form-inline" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <input id="email" name="email" class="form-control" type="email" placeholder="E-mail Address" required focus>
        {% include 'account/snippets/form_errors.html'%}    
        {% include "account/snippets/already_logged.html" %}

        <button class="btn btn-success" type="submit">{% trans 'Reset Password' %}</button>
    </form>

    <p class="medium-txt">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>


{% endblock %}
