{% extends 'info.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}
{% trans "Sign Up"%} - {{ SITE_NAME }}
{% endblock %}


{% block info_meta %}
{% trans "Welcome"%}
{% endblock %}

{% block info_title %}
{% trans "Sign Up to "%} {{SITE_NAME}}
{% endblock %}


{% block info_text %}

  <form class="form" method="post" action="{% url 'account_signup'%}">
    {% csrf_token %}
    <input type="text" id="username1" name="username1" class="form-control" placeholder="{% trans 'Username' %}" required autofocus>
    <input type="email" id="email1" name="email1" class="form-control" placeholder="{% trans 'E-mail Address' %}" required >
    <input type="password" id="password1" name="password1" class="form-control" placeholder="{% trans 'Password' %}" required>
    <input type="password" id="password2" name="password2" class="form-control" placeholder="{% trans 'Confirm Password' %}" required>
    {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
    {% include 'account/snippets/form_errors.html'%}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign Up'%}</button>
  </form>

<style>

  .note {
    margin: 2%;
    font-weight: 400;
  }

  .form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
  }

  .form .form-control:focus {
    z-index: 2;
  }

  .form input{
    margin-top: 5%;
    margin-bottom:5%;
      
    }

  .form input[type="text"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>

{% endblock %}

{% block info_actions %}
{% endblock %}