{% extends 'info.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}
{% trans "Verify E-mail"%} - {{ SITE_NAME }}
{% endblock %}

{% block info_meta %}
{% trans "Account"%}
{% endblock %}

{% block info_title %}
{% trans "Verify Your E-mail"%}
{% endblock %}

{% block info_text %} 
{% blocktrans %}
We have sent an e-mail to you for
verification.{% endblocktrans %}
<br>{% blocktrans %}Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
{% endblock %}



